@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Prompt:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

#gradient {
  font-size: 120%;
  background: -webkit-linear-gradient(#7879f1, #f178b6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
